# ==========================================
# 🛑 MODE KEBAL: APAPUN NAMA FOLDERNYA, SAMPAH INI DITOLAK!
# ==========================================

# 1. Sampah Frontend (Dosa Paling Berat)
node_modules/
dist/
dist-ssr/
.vercel/
*.local
npm-debug.log*

# 2. Sampah Backend & Rahasia
venv/
env/
__pycache__/
*.pyc
*.db
.env
*.env
uploads/
route_geometries/

# 3. Sampah Windows / Mac / VSCode
.DS_Store
.vscode/
!.vscode/extensions.json
.idea
*.suo